.ls-opt-container {
  position: relative;
  display: inline-block;
}

.ls-opt-items {
  padding:0;
  list-style-type:none;
  overflow-y: auto;
  position: absolute;
  border: 1px solid #23678F;
  border-radius:0.25rem;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
}

.ls-opt-items li {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #23678F;

    &:hover {
      background-color: #e9e9e9;
    }
}

.ls-opt-active {
  background-color: #e9e9e9 !important;
}

